<div class="container">
  <div class="app-wrapper">
    <h1 class="header">Angular TodoList App</h1>

    <form (submit)="addTask()">
      <input
        type="text"
        [(ngModel)]="newTask"
        placeholder="Enter Task"
        name="newTask"
        class="task-input"
      />

      <button type="submit" class="button-add">Add Task</button>
    </form>

    <hr />

    <h3 class="Incomplete-Task">InComplete Task</h3>
    <ul>
      <li class="list" *ngFor="let task of tasks; let i = index">
        <div class="Task-button">
          {{ task.name }}

          <button class="btn btn-success" type="button" (click)="editTask(i)">
            Edit
          </button>
          <button class="btn btn-danger" type="button" (click)="deleteTask(i)">
            Delete
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="markComplete(i)"
          >
            Complete
          </button>
        </div>
      </li>
    </ul>

    <hr />

    <h3 [ngStyle]="{ color: 'green' }">Completed Taks</h3>
    <ul>
      <li class="list" *ngFor="let task of completedTasks">{{ task.name }}</li>
    </ul>
  </div>
</div>
